<div>
  <form action="" method="post"><input type="submit"></form>
</div>
<% etiquetas.forEach(function(et){ %>
  <div class="super-container">

    <div class="container">
      <div>Oferta</div>
      <div>
        <%= et.BARCODE %>
      </div>
      <div>11509</div>
      <div>$</div>
      <div>
        <%= (et.PUNIT + '' ).split('.')[0] %>
          <span>
            <%= (et.PUNIT + '' ).split('.')[1] %>
          </span>

      </div>
      <div>
        <%= et.DESCRIP %>
      </div>
    </div>
    <div class="container">
      <div>Oferta</div>
      <div>
        <%= et.BARCODE %>
      </div>
      <div>11509</div>
      <div>$</div>
      <div>
        <a>
          <%= (et.PUNIT + '' ).split('.')[0] %>
        </a>
        <span>
          <%= (et.PUNIT + '' ).split('.')[1] %>
        </span>

      </div>
      <div>
        <%= et.DESCRIP %>
      </div>
    </div>

  </div>
  <% }); %>